ul{
    list-style-type:none;
}
a{
    text-decoration:none;
}
img{
    outline:3px solid black;
}
header{
    background-color: black;
    height:50px;
    list-style: none;
    outline-color: black;
    outline-width: 1px;
}
.header-logo{
    float:right; 
    outline:none;
    height:50px;
}
ul.main-menu{
    margin: 0;
    padding: 0;
    background-color: black;
}
ul.main-menu button{
    background-color: black;
    float:right;
    color:white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 150%;
}
footer{
    background-color:rgba(117, 150, 189, 0.733);
    height: 270px;
    display: block;
}
body{
    background-color:white;
}
.product-card{
    display:inline;
    width:200px;
    height:100px;
}
.product-card img{
    width:200px;
    height:100px;
    outline:none;
    float:left;
}
.product-card table{
    width:200px;
    height:100px;
    float:left;
}
.container{
    margin: 0px auto;
    width: 100%;
}
.product-item{
    width:300px;
    text-align: center;
    margin:0 auto;
    float:left;
    border: 1px solid black;
    background-color: white;
}
.product-item img {
    display: block;
    width: 100%;
    outline:none;
 }
 .catalog{
     display:inline;
 }
.menu-button{
    background-color: black;
    float:right;
    color:white;
    border-color: white;
    padding: 9px 8px;
    border-radius: 20px 20px 0px 0px;
    font-size: 150%;
    margin:1px 1px 0px 1px;
    border-width: 3px 3px 0px 3px;
}
.menu-button-now{
    background-color: white;
    float:right;
    color:black;
    border-color: black;
    padding: 9.5px 8px;
    border-radius: 20px 20px 0px 0px;
    font-size: 150%;
    margin:1px 1px 0px 1px;
    border-width: 2px 2px 0px 2px;
}