ul{
    list-style-type:none;
}
a{
    text-decoration:none;
}
img{
    outline:3px solid black;
}
header{
    background-color: black;
    height:50px;
    list-style: none;
    outline-color: black;
    outline-width: 1px;
    flex:0 0 auto;
}
.header-logo{
    float:left; 
    outline:none;
    height:50px;
}
ul.main-menu{
    margin: 0;
    padding: 0;
    background-color: black;
}
ul.main-menu button{
    background-color: black;
    float:right;
    color:white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 150%;
}
footer{
    background-color:black;
    color:white;
    display: block;
    flex: 0 0 auto
}
html{
    height: 100%;
}
body{
    background-color:white;
    height:100%;
    display:flex;
    flex-direction: column;
}

.container{
    margin: 0px auto;
    width: 100%;
    display:flex;
    flex-direction:column;
    height:100%;
}

.menu-button{
    background-color: black;
    float:right;
    color:white;
    border-color: white;
    padding: 9px 8px;
    border-radius: 20px 20px 0px 0px;
    font-size: 150%;
    margin:1px 1px 0px 1px;
    border-width: 3px 3px 0px 3px;
}
.menu-button-now{
    background-color: white;
    float:right;
    color:black;
    border-color: black;
    padding: 9.5px 8px;
    border-radius: 20px 20px 0px 0px;
    font-size: 150%;
    margin:1px 1px 0px 1px;
    border-width: 2px 2px 0px 2px;
}
.main-content{
    flex:1 0 auto;
}